@model ClassModel

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Create Class</h1>
            <form class="form-sample" method="post">
                <p class="card-description">
                    Class info
                    <div asp-validation-summary="All"></div>
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Start Age</label>
                            <div class="col-sm-9">
                                <input asp-for="StartAge" class="form-control" />
                                <span asp-validation-for="StartAge"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">End Age</label>
                            <div class="col-sm-9">
                                <input asp-for="EndAge" class="form-control" />
                                <span asp-validation-for="EndAge"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Start Date</label>
                            <div class="col-sm-9">
                                <input asp-for="StartTime" class="form-control" />
                                <span asp-validation-for="StartTime"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">End Date</label>
                            <div class="col-sm-9">
                                <input asp-for="EndTime" class="form-control" />
                                <span asp-validation-for="EndTime"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Total Seats</label>
                            <div class="col-sm-9">
                                <input asp-for="TotalSeats" class="form-control" />
                                <span asp-validation-for="TotalSeats"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tution Fee</label>
                            <div class="col-sm-9">
                                <input asp-for="TutionFee" class="form-control" />
                                <span asp-validation-for="TutionFee"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary me-2">Save</button>
            </form>
        </div>
    </div>
</div>